.container {
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 20px 0;
   
}

h1{
    font-size: 50px;
    margin-top: 10px;
}

h3{
    font-size: 16px;
    font-weight: bold;
}


.container img{
    width: 300px;
    border-radius: 9px;
    padding-right: 25px ;
}

.container-details{
    align-items: center;
    text-align: left;
}


.container-head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-head p{
    font-size: 20px;
    padding-right: 15px;
    padding: 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.container-head a{
    color: #918E9B;
}

.container-head img{
    padding-right: 5px;
    width: 15px;
}

.container-para{
    font-size: 16px;
    line-height: 22px;
}