nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    height: 70px;
    background-color: #F55A5A;
    margin-bottom: 100px;
}

.nav-logo{
    max-width: 45px;
   
}

.nav-title{
    color: white;
    font-size: 25px;
    padding: 0 15px;
    margin: 0;
   
}